/* styles.css */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .form-container {
	width: 50%;
	padding: 250px;
	background-color: #000;
	border: 1px solid #444;
	border-radius: 8px;
  }
  
  .form-title {
	font-size: 2rem;
	margin-bottom: 20px;
	text-align: left;
  }
  
  .signup-form .form-group {
	margin-bottom: 20px;
  }
  
  .signup-form label {
	display: block;
	font-size: 0.9rem;
	margin-bottom: 5px;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"],
  .signup-form input[type="date"] {
	width: 80%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid #ffffff;
	background: none;
	color: #fff;
	font-size: 1rem;
  }
  
  .signup-form input::placeholder {
	color: #ffffff;
  }
  
  .radio-group {
	display: inline-flex;
	justify-content: space-between;
  }
  
  .radio-group label {
	font-size: 0.9rem;
  }
  
  .signup-form input[type="radio"] {
	margin-right: 5px;
  }
  
  .signup-form input[type="checkbox"] {
	margin-right: 10px;
  }
  
  .submit-button {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	color: #000;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 4px;
  }
  
  .submit-button:hover {
	background-color: #ddd;
  }
  